@charset "UTF-8";
html {
  font-size: 40px; }

body {
  font-family: 'Comfortaa', sans-serif;
  color: #11193c; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase; }

p {
  margin: 0;
  line-height: 2rem; }

ul {
  margin: 0;
  padding: 0; }

.title-section {
  color: white;
  line-height: 1;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 2px 2px 2px rgba(0, 0, 0, 0.5); }
  .title-section h1 {
    margin-bottom: 3vh;
    font-size: 5vh; }
  .title-section p {
    font-size: 4vh;
    margin-bottom: 3vh; }

.section-title {
  font-size: 2rem; }

.education-item ul {
  margin: 0;
  list-style: circle;
  padding: 5px 20px 5px 30px; }
  .education-item ul li {
    font-size: .8rem; }

.education-item a {
  font-size: 1rem;
  text-decoration: underline;
  margin-bottom: 5px; }

.about-me li span {
  font-weight: 700;
  color: black;
  font-size: 1.1rem; }

.education-item-title {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: 600; }

.description {
  font-size: 1rem; }

.header-nav {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px; }

.nav {
  text-transform: uppercase; }

html, body {
  height: 100%; }

header {
  min-height: 100vh; }
  header .photo-wrap {
    margin: 120px 0 10vh; }
  header .photo {
    height: 30vh;
    width: 30vh;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 25px 6px rgba(255, 255, 255, 0.1); }

.header-nav {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 7px; }
  .header-nav nav {
    -webkit-transform: translateX(150%);
    transform: translateX(150%);
    -webkit-transition: ease 1s;
    transition: ease 1s;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #44434b;
    z-index: 1; }
  .header-nav .show-menu {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: ease 1s;
    transition: ease 1s;
    overflow-y: auto !important; }
  .header-nav ul li {
    text-align: center; }
  .header-nav ul a {
    min-height: 150px;
    line-height: 100px;
    padding: 0 10px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    color: rgba(255, 255, 255, 0.82);
    -webkit-transition: ease .7s;
    transition: ease .7s;
    border-radius: 0 0 10px 10px; }
    .header-nav ul a:before {
      content: '';
      display: block;
      position: absolute;
      height: 2px;
      width: 0;
      background-color: #d6d500;
      top: 0;
      opacity: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: ease .5s;
      transition: ease .5s; }
    .header-nav ul a:after {
      content: '';
      display: block;
      position: absolute;
      -webkit-transition: ease .4s;
      transition: ease .4s;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      border-width: 0 15px 0 15px;
      left: 50%;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #000 transparent transparent transparent;
      opacity: .7; }
    .header-nav ul a:hover {
      -webkit-transition: ease .5s;
      transition: ease .5s;
      color: white;
      text-decoration: none;
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0), 1px 1px 1px rgba(0, 0, 0, 0.7); }
  .header-nav ul .active a {
    box-shadow: 0 -3px 7px rgba(252, 252, 252, 0.5);
    background-color: black;
    color: white; }
    .header-nav ul .active a:after {
      opacity: 1;
      -webkit-transition: ease .4s;
      transition: ease .4s;
      bottom: -13px;
      border-width: 13px 15px 0 15px; }
    .header-nav ul .active a:before {
      width: 100%;
      -webkit-transition: ease .5s;
      transition: ease .5s;
      opacity: 1; }
  .header-nav .contacts-list-wrap {
    margin-top: -100%;
    -webkit-transition: ease 1s;
    transition: ease 1s;
    left: 110px;
    right: 110px;
    z-index: 1;
    height: 100%; }
    .header-nav .contacts-list-wrap i {
      margin: 0;
      color: #dfdbf5;
      font-size: 80px; }
    .header-nav .contacts-list-wrap .phone-numders-wrap {
      position: relative;
      cursor: pointer; }
      .header-nav .contacts-list-wrap .phone-numders-wrap .phone-numder {
        display: block;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transform: translate(50%, -50%) scale(0);
        transform: translate(50%, -50%) scale(0);
        top: 50%;
        right: 0;
        padding: 4px;
        position: absolute;
        border-radius: 10px;
        opacity: 0;
        -webkit-transition: ease .4s;
        transition: ease .4s;
        -webkit-transition-delay: .2s;
        transition-delay: .2s; }
        .header-nav .contacts-list-wrap .phone-numders-wrap .phone-numder a {
          color: white; }
      .header-nav .contacts-list-wrap .phone-numders-wrap:hover .phone-numder {
        opacity: 1;
        -webkit-transition: ease .4s;
        transition: ease .4s;
        -webkit-transform: translate(100%, -50%) scale(1);
        transform: translate(100%, -50%) scale(1); }
    .header-nav .contacts-list-wrap .contacts-list-send-mail {
      padding: 0;
      border: none;
      background-color: transparent; }
      .header-nav .contacts-list-wrap .contacts-list-send-mail:focus {
        outline: none; }
  .header-nav .show-contacts {
    -webkit-transition: ease 1s;
    transition: ease 1s;
    margin-top: 3px; }
  .header-nav .contacts-list-button-mobile {
    width: 90px;
    height: 90px;
    background-color: #e9e5ff;
    z-index: 1;
    border-radius: 50%;
    margin: 7px 0;
    -webkit-transition: ease 1s;
    transition: ease 1s; }
    .header-nav .contacts-list-button-mobile i {
      color: rgba(0, 11, 21, 0.67);
      font-size: 60px; }
  .header-nav .active-button {
    background-color: rgba(0, 11, 21, 0.67);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    -webkit-transition: ease 1s;
    transition: ease 1s; }
    .header-nav .active-button i {
      color: #e9e5ff; }
  .header-nav #nav-icon3 {
    z-index: 1;
    max-width: 70px;
    width: 100%;
    height: 70px;
    position: relative;
    margin-top: 28px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
  .header-nav #nav-icon3 span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #e9e5ff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
  .header-nav #nav-icon3 span:nth-child(1) {
    top: 0; }
  .header-nav #nav-icon3 span:nth-child(2), .header-nav #nav-icon3 span:nth-child(3) {
    top: 18px; }
  .header-nav #nav-icon3 span:nth-child(4) {
    top: 36px; }
  .header-nav #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0;
    left: 50%; }
  .header-nav #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .header-nav #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .header-nav #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0;
    left: 50%; }

.title-arrow-wrap {
  display: -webkit-box;
  display: flex;
  margin-bottom: 5vh;
  left: 50%;
  bottom: 0;
  position: fixed;
  opacity: 1;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.hide-arrow {
  display: none;
  opacity: 0; }

.title-arrow {
  position: relative;
  width: 24px;
  height: 24px; }
  .title-arrow .chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
    -webkit-animation: move 3s ease-out infinite;
    animation: move 3s ease-out infinite; }
  .title-arrow .chevron:first-child {
    -webkit-animation: move 3s ease-out 1s infinite;
    animation: move 3s ease-out 1s infinite; }
  .title-arrow .chevron:nth-child(2) {
    -webkit-animation: move 3s ease-out 2s infinite;
    animation: move 3s ease-out 2s infinite; }
  .title-arrow .chevron:before,
  .title-arrow .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff; }
  .title-arrow .chevron:before {
    left: 0;
    -webkit-transform: skew(0deg, 30deg);
    transform: skew(0deg, 30deg); }
  .title-arrow .chevron:after {
    right: 0;
    width: 50%;
    -webkit-transform: skew(0deg, -30deg);
    transform: skew(0deg, -30deg); }

@-webkit-keyframes move {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }

@keyframes move {
  25% {
    opacity: 1; }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
    transform: translateY(40px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5); } }

@-webkit-keyframes pulse {
  to {
    opacity: 1; } }

@keyframes pulse {
  to {
    opacity: 1; } }

::-webkit-scrollbar-track {
  background-color: rgba(0, 11, 21, 0.67);
  box-shadow: 0 0 3px transparent inset; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 11, 21, 0.67);
  box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.4); }

::-webkit-scrollbar {
  width: 5px; }

.container-fluid {
  padding: 0; }

.content-wrapper {
  padding-bottom: 70px; }

.link-up {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 11, 21, 0.67);
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  margin-right: -150px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  opacity: 0; }
  .link-up:hover {
    color: transparent;
    text-decoration: none; }
  .link-up i {
    font-size: 150%;
    color: white; }

.education, .work-places-wrap, .footer-wrap {
  background-color: #e9e5ff; }

.section-title {
  margin: 140px 0 30px;
  display: inline-block;
  line-height: 1; }

.about-me, .portfolio {
  background-color: #dfdbf5; }

.about-me {
  word-wrap: break-word; }
  .about-me li {
    margin-bottom: 1.5rem; }

.education-item-wrap span {
  font-size: 15rem;
  text-shadow: 3px 3px 5px rgba(89, 112, 149, 0.6);
  color: rgba(0, 11, 21, 0.67); }

.work-main-icon-wrap {
  padding-bottom: 100px; }

.education-item {
  border-radius: 5px;
  background-color: rgba(245, 234, 243, 0.21);
  box-shadow: 5px 5px 14px -4px rgba(89, 112, 149, 0.6);
  overflow: hidden; }

.education-item-title {
  padding: 8px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0, 11, 21, 0.67);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.work-places-line {
  width: 3px;
  background-color: rgba(0, 11, 21, 0.67);
  position: absolute;
  box-shadow: 3px 5px 4px -1px rgba(89, 112, 149, 0.6); }

.work-places {
  padding-left: 30px;
  margin: 0;
  list-style: none; }
  .work-places li {
    margin-bottom: 20px; }
    .work-places li p {
      font-size: .9rem; }
    .work-places li span {
      text-transform: uppercase; }

.work-places-wrap .lnr-briefcase {
  font-size: 15rem;
  text-shadow: 3px 3px 5px rgba(89, 112, 149, 0.6);
  color: rgba(0, 11, 21, 0.67); }

.description {
  padding-left: 40px; }
  .description li {
    margin-bottom: 1rem; }
    .description li:last-of-type {
      margin-bottom: 0; }

.git-link {
  text-decoration: underline; }

.portfolio-slider-wrap .owl-item {
  padding: 45px 0; }

.portfolio-slider-wrap .preview-wrap {
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: ease .4s;
  transition: ease .4s;
  border-radius: 50%;
  overflow: hidden; }
  .portfolio-slider-wrap .preview-wrap img {
    -webkit-transition: ease .5s;
    transition: ease .5s;
    pointer-events: none; }
  .portfolio-slider-wrap .preview-wrap:hover img {
    -webkit-transition: ease .5s;
    transition: ease .5s;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }

.portfolio-slider-wrap .portfolio-item-wrap {
  background-color: #fff;
  padding: 40px 50px;
  display: -webkit-box;
  display: flex;
  border-radius: 20px;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition: ease .4s;
  transition: ease .4s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  position: relative; }

.portfolio-slider-wrap .custom-nav .owl-prev, .portfolio-slider-wrap .custom-nav .owl-next {
  font-family: FontAwesome;
  font-weight: 300;
  -webkit-transition: ease .4s;
  transition: ease .4s;
  border: none;
  color: rgba(0, 11, 21, 0.67);
  font-size: 60px;
  padding: 0;
  height: 0;
  width: 0; }
  .portfolio-slider-wrap .custom-nav .owl-prev:focus, .portfolio-slider-wrap .custom-nav .owl-next:focus {
    outline: none; }
  .portfolio-slider-wrap .custom-nav .owl-prev:before, .portfolio-slider-wrap .custom-nav .owl-next:before {
    opacity: 0;
    position: absolute;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    line-height: 1;
    margin: 0 10px;
    -webkit-transition: all 2s cubic-bezier(0.21, 0, 0, 1);
    transition: all 2s cubic-bezier(0.21, 0, 0, 1); }

.portfolio-slider-wrap .custom-nav .owl-prev:before {
  content: "\f053";
  left: -180px; }

.portfolio-slider-wrap .custom-nav .owl-next:before {
  content: "\f054";
  right: -180px; }

.portfolio-slider-wrap .active .preview-wrap {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: ease 4s;
  transition: ease 4s;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }

.portfolio-slider-wrap .active .portfolio-item-wrap {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: ease 4s;
  transition: ease 4s;
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.2); }

.portfolio-slider-wrap .active .owl-prev:before, .portfolio-slider-wrap .active .owl-next:before {
  -webkit-transition: all 2s cubic-bezier(0.21, 0, 0, 1);
  transition: all 2s cubic-bezier(0.21, 0, 0, 1);
  opacity: .8; }

.portfolio-slider-wrap .active .owl-prev:before {
  left: 0; }

.portfolio-slider-wrap .active .owl-next:before {
  right: 0; }

.portfolio-slider-wrap .active .disabled {
  opacity: .2; }

.toast-send-message {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #00f113;
  border-radius: 30px;
  padding: 0 1rem;
  opacity: .9;
  box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.4);
  color: rgba(0, 11, 21, 0.67);
  display: none; }
  .toast-send-message span {
    font-size: 1rem;
    font-weight: 700;
    line-height: 2rem;
    white-space: nowrap; }
    .toast-send-message span i {
      padding-left: .3rem; }

.show-toast {
  display: block; }

.send-mail-modal button {
  outline: none;
  box-shadow: none; }
  .send-mail-modal button:focus {
    outline: none;
    box-shadow: none; }

.send-mail-modal .close-modal {
  right: 15px;
  top: 10px; }

.send-mail-modal .send-mail-button {
  background-color: #dfdbf5;
  border-radius: 40px;
  font-weight: 700; }
  .send-mail-modal .send-mail-button:focus {
    box-shadow: none; }

.send-mail-modal .my-mail {
  font-size: .8rem;
  line-height: 1.5;
  font-weight: 700; }
  .send-mail-modal .my-mail:last-of-type {
    color: black; }

.send-mail-modal .form-control {
  border: 1px solid rgba(0, 0, 0, 0.3); }
  .send-mail-modal .form-control:focus {
    box-shadow: 0 0 0 2px #e9e5ff; }
  .send-mail-modal .form-control:first-of-type::-webkit-input-placeholder {
    font-size: .7rem; }
  .send-mail-modal .form-control:first-of-type::-moz-placeholder {
    font-size: .7rem; }
  .send-mail-modal .form-control:first-of-type:-ms-input-placeholder {
    font-size: .7rem; }
  .send-mail-modal .form-control:first-of-type::-ms-input-placeholder {
    font-size: .7rem; }
  .send-mail-modal .form-control:first-of-type::placeholder {
    font-size: .7rem; }

.send-mail-modal .form-group:first-of-type {
  margin-bottom: 30px; }

.send-mail-modal .modal-dialog {
  max-width: 95%; }
  .send-mail-modal .modal-dialog .modal-header {
    padding: 1rem 1rem 0 1rem; }
  .send-mail-modal .modal-dialog .modal-body {
    padding: 1rem; }

.send-mail-modal .modal-footer {
  position: relative; }
  .send-mail-modal .modal-footer:after {
    position: absolute;
    content: "Некорректный формат E-mail";
    display: inline-block;
    color: white;
    white-space: nowrap;
    top: -50px;
    left: 50%;
    padding: 0 8px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: red;
    border-radius: 8px;
    opacity: 0;
    font-weight: 600;
    font-size: .8rem;
    z-index: 1; }

.send-mail-modal .invalid-mail .modal-footer:after, .send-mail-modal .empty-mail .modal-footer:after {
  top: 0;
  opacity: 1;
  -webkit-transition: ease .5s;
  transition: ease .5s; }

.send-mail-modal .empty-mail .modal-footer:after {
  content: "Заполните все поля"; }

.show-link {
  opacity: 1;
  -webkit-transition: ease 1s;
  transition: ease 1s;
  margin-right: 0; }

@media screen and (min-width: 992px) {
  html {
    font-size: 16px; }
  header .photo-wrap {
    margin: 10vh 0 10vh; }
  .portfolio-slider-wrap .custom-nav .owl-prev, .portfolio-slider-wrap .custom-nav .owl-next {
    font-size: 30px; }
  article {
    margin-top: -40px; }
  .link-up {
    width: 50px;
    height: 50px; }
    .link-up i {
      font-size: 30px; }
  .header-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0; }
    .header-nav nav {
      position: relative;
      margin-top: 0;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      background-color: initial; }
    .header-nav ul li {
      text-align: initial; }
    .header-nav ul a {
      min-height: 40px;
      line-height: 40px;
      display: inline-block; }
    .header-nav .contacts-list-wrap {
      margin-left: -150px;
      margin-top: 0;
      top: 65px;
      left: 30px;
      opacity: 0;
      right: initial; }
      .header-nav .contacts-list-wrap i {
        font-size: 35px;
        color: rgba(0, 11, 21, 0.67); }
    .header-nav .show-contacts {
      margin-left: 0;
      -webkit-transition: ease 1s;
      transition: ease 1s;
      opacity: 1; }
  .portfolio-item-wrap {
    padding: 40px 80px; }
  .section-title {
    margin: 60px 0; }
  .send-mail-modal .modal-dialog {
    max-width: 500px; }
    .send-mail-modal .modal-dialog .modal-header {
      padding: 1rem; }
  .send-mail-modal .modal-footer:after {
    top: -25px; }
  .send-mail-modal .invalid-mail .modal-footer:after, .send-mail-modal .empty-mail .modal-footer:after {
    top: 0; }
  .title-arrow-wrap {
    margin-bottom: 100px; } }
