$bg-main-color: rgb(233,229,255);
$bg-main-color-1: rgb(223,219,245);
$main-text-color: #11193c;
$header-bg-color: rgba(0, 0, 0, .6);
$header-text-shadow: -1px -1px 1px rgba(33, 72, 255, .4), 1px 1px 1px rgba(241, 236, 0, .4);
$main-content-color: rgba(0, 11, 21, .67);
$box-shadow-containers: 5px 5px 14px -4px rgba(89, 112, 149,.6);